<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.title" class="form-control" id="title" placeholder="Project Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="tagline" class="col-sm-2 control-label">Tagline</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.tagline" class="form-control" id="tagline" placeholder="Project tagline Here"/>
    </div>
</div>
<div class="form-group">
    <label for="deadLine" class="col-sm-2 control-label">deadLine</label>
    <div class="col-sm-10">
        <input type="date" ng-model="project.deadLine" class="form-control" id="deadLine" placeholder="Project deadLine Here"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.description" class="form-control" id="description" placeholder="Project description Here"/>
    </div>
</div>
<div class="form-group">
    <label for="amount" class="col-sm-2 control-label">amount</label>
    <div class="col-sm-10">
        <input type="number" ng-model="project.amount" class="form-control" id="amount" placeholder="Project amount Here"/>
    </div>
</div>
<div class="form-group">
    <label for="region" class="col-sm-2 control-label">region</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.region" class="form-control" id="region" placeholder="Project region Here"/>
    </div>
</div>
<div class="form-group">
    <label for="latitude" class="col-sm-2 control-label">Latitude</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.lat" class="form-control" id="latitude" placeholder="Project Latitude Here"/>
    </div>
</div>
<div class="form-group">
    <label for="longitude" class="col-sm-2 control-label">Longitude</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.lon" class="form-control" id="longitude" placeholder="Project longitude Here"/>
    </div>
</div>
<div class="form-group">
    <label for="region" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-10">
                    <select  ng-model="project.category" class="form-control" >
                    <option value="">Select A Category</option>
                    <option value="Children">Children</option>
                    <option value="Community">Community</option>
                    <option value="Emergencies">Emergencies</option>
                    <option value="Humanitarian">Humanitarian</option>
                    <option value="Education">Education</option>
                    <option value="Environment">Environment</option>
                    <option value="Food">Food</option>
                    <option value="Health">Health</option>
                  </select>
    </div>
</div>
<div class="form-group">
    <label for="facebookUrl" class="col-sm-2 control-label">facebookUrl</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.facebookUrl" class="form-control" id="facebookUrl" placeholder="Project facebookUrl Here"/>
    </div>
</div>
<div class="form-group">
    <label for="TwitterUrl" class="col-sm-2 control-label">TwitterUrl</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.TwitterUrl" class="form-control" id="TwitterUrl" placeholder="Project TwitterUrl Here"/>
    </div>
</div>
<div class="form-group">
    <label for="YoutubeUrl" class="col-sm-2 control-label">YoutubeUrl</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.YoutubeUrl" class="form-control" id="YoutubeUrl" placeholder="Project YoutubeUrl Here"/>
    </div>
</div>
<div class="form-group">
    <label for="videoUrl" class="col-sm-2 control-label">videoUrl</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.videoUrl" class="form-control" id="videoUrl" placeholder="Project videoUrl Here"/>
    </div>
</div>
<div class="form-group">
    <label for="usertel" class="col-sm-2 control-label">UserTel</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.UserTel" class="form-control" id="YoutubeUrl" placeholder="Project Usertel Here"/>
    </div>
</div>
<div class="form-group">
    <label for="UserName" class="col-sm-2 control-label">UserName</label>
    <div class="col-sm-10">
        <input type="text" ng-model="project.Username" class="form-control" id="UserName" placeholder="Project UserName Here"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>