<table class="table table-inverse">
    <tr>
        <td><h3>Details for {{event.Title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td> <h2> Title </h2></td>
        <td> <h2> {{event.Title}}</h2></td>
    </tr>
     <tr>
        <td><h2>Description</h2></td>
        <td><h2>{{event.Description}}</h2></td>
    </tr>
    
  
     <tr>
        <td><h2>Starting Date</h2></td>
        <td><h2>{{event.Starting_Date}}</h2></td>
    </tr>
    
  
     <tr>
        <td><h2>Price</h2></td>
        <td><h2>{{event.Price}}</h2></td>
    </tr>
    
  
    
  
  
</table>

